<a href="https://colab.research.google.com/github/brighamfrandsen/econ484/blob/master/examples/01%20Python%20Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here's a brief introduction to Python.

These tools will give you all the tools you need to answer the exercise questions at the end of this notebook.

#Allow me to introduce myself

In [11]:
# This is a comment!
print("Hello, World!")

Hello, World!

In [12]:
stringvariable = 'World'
print("Hello, {}!".format(stringvariable))

Hello, World!

In [14]:
# Now define a variable called 'name', assign it the value of your name, and introduce yourself via python!

name = 'Brigham Frandsen'
print("Hello, I'm {}!".format(name))

Hello, I'm Brigham Frandsen!

### Introduction to basic classes and numeric python operations

In [16]:
## Formatting Floats
# method 1
c=3.141592653585
d = 1
print("{:.2f}".format(c*d)) # {} is the place holder for the argument.
                            # defines the arguement. ":.2f" means "Round my output to 2 decimals"
                            # c*d is the argument being passed in.

3.1416

In [17]:
print("I can use {} {}.".format("multiple", "placeholders"))

I can use multiple placeholders.

In [18]:
# method 2
print(f"This is f-string (format string) {c*d:.3f}")

This is f-string (format string) 3.142

In [19]:
# use f-string to introduce yourself with your name:

Hello, my name is Brigham Frandsen!

In [28]:
a = 4
b = 2

2

In [26]:
# power
print(f"{a}**{b} or pow({a},{b}) = {a**b}")

4**2 or pow(4,2) = 16

In [29]:
# modulus is the remainder after division
print(f"{4}%{3} = {4%3}")

4%3 = 1

In [30]:
# floor division rounds down to the nearest integer.
print(f"Regular division results in: {b}/{a}= {b/a:.2f}")

Regular division results in: 2/4= 0.50

In [31]:
print(f"While flooring: {b}//{a}= {b//a} which is the same as int({b/a:.2f}) = {int(b//a)}")

While flooring: 2//4= 0 which is the same as int(0.50) = 0

### Introduction to conditions and booleans

In [32]:
# We can compare numbers using the following operations
# >=, <=, ==
bool1 = 3 > 2
bool2 = 2 <= 1
print(bool1, bool2)

True False

In [33]:
# These results are stored as booleans which can
# be accessed directly with the keyword arguments "True" and "False"
print(bool1 == True)

True

In [34]:
print(bool2 == False)

True

In [38]:
# We can use booleans to make conditional code.
a = 3
b = 2
c = 5
response = None

if a*b <= c: # if true then run the code right after it
    response = True
    print("the condition was true!")
else:      # if the condition above isn't true, do this instead.
    response = False
    print("the condition was false!")
print(response)
print("the is the last line of code in the block")

the condition was false!
False
the is the last line of code in the block

In [39]:
# but we could have done this with fewer lines of code.
response = a*b <= c
response
# see how much easier that is to read!

False

In [41]:
# Write an if statement that prints out the message "the number is even" if a variable is even, and "the number is odd" if the number is odd

7 is odd!

### Introduction to lists and "loops"

In [42]:
# sometimes we want to repeat an operation until a condition is met.
# For example. How many times do we need to divide 100 by 2 before it's smaller than 3?

count = 0
num = 100
while num >= 3:
    num = num / 2
    count = count + 1
count

6

In [43]:
# The most common type of loop is the "for loop"
# We can make something called a "list" and do operations on the contents of the list
mylist = [1,2,3,4,5]
for num in mylist:
    num = 2*num
    print(num)
mylist
# we did operations on the list but we didn't change the list... What happened? -- Don't worry about it too much.

2
4
6
8
10

[1, 2, 3, 4, 5]

In [44]:
# As was eluded to earlier, there are good and bad ways to do things in Python
# here's a bad way....
newlist = [] # empty list
mylist = [1,2,3,4,5]
for num in mylist:
    num *= 2
    newlist.append(num) # "list" is a class that has a function called "append"
                        # we access functions of an object by using a "."
newlist

[2, 4, 6, 8, 10]

In [50]:
# if you've done some stuff with c++ maybe you'd want to do it this way
mylist = list(range(1,6))         # "range" is a shorthand way of writing "From 1 to the number just before 7"
for i, num in enumerate(mylist):  # enumerate "counts" how many times we've completed a loop around the code
    mylist[i] = num*2             # the brackets [] are an "indexer". They say "get the element at position 'i'"
mylist

[2, 4, 6, 8, 10]

In [51]:
mylist=list(range(1,6))
mylist

[1, 2, 3, 4, 5]

In [52]:
# neither of these ways are "pythonic"
# one of the hallmarks of python is how concisely we can do operations.
newlist = [num*2 for num in range(1,6)]
newlist

[2, 4, 6, 8, 10]

### Introduction to functions

In [ ]:
# if we have something that we'd like to be able to do repeatedly at different points in our code,
# it usually takes up the least space and the easiest to read if we make a method that does the
# operation for us.

In [ ]:
# For example, what would we do if we didn't have the "*" operation available to us?
# We could we write a function that would have the same effect as multiplying two numbers together.
# (technically we could write a function that multiplies and indefinite number of arguments together
#  but we're just learning the basics right now.)

In [ ]:
# the not-so-good way.
def multiply(a, b):       # "def" means we're going to write a function
    product = 0           # "multiplication" is the name of the funciton
    for i in range(b):    # (a, b) are the arguments we can pass into the function
        product += a
    return product

result = multiply(5,5) # we pass in what a and b are into the function using "()"
result

In [ ]:
# the python way.
def multiply(a, b):
    return sum([a for i in range(b)])

multiply(6,4)

In [ ]:
## Here's how you can write a function that multiplies
## An indefinite number of numbers together.
## (Without passing them in as a list)

# none pythonic
def multiply(*args):
    assert len(args) >= 2

    base = 1
    for num in args:
        tot = 0
        for i in range(num):
            tot += base
#             print(tot) # <-- to see verbosely how the function "multiplies"
        base = tot
    return tot

multiply(5,5,5)

# pythonic
def multiply(*args):
    assert len(args) >= 2

    base = 1
    for num in args:
        base = sum([base for i in range(num)])
    return base

multiply(6,5,2)

### Conclusion

That's a very brief introductoin to how some basic types in python work.

Spend some time messing around with these or start the exercises.

### EXERCISES

Do this following exercises **without** using any imports. (if you don't know what these are, you don't need to worry about it)

1. Without using any imports (if you don't know what these are, don't worry about it) **write a function** that will compute the inner product of any two equal-sized vectors. **HINT** 1) look up the command `zip`. 2) the body of this function is one line if you do it "the pythonic way"

    For example if x = [1,5,10] and y = [1,2,3] then x * y= [1 * 1 + 5 * 2 + 3 * 10] = [41]

2. Write a function that calculates the euclidean distance (the sister to the euclidean norm) between two points that exist in the same space (i.e. both are from $R^2$ or $R^5$ or $R^n$). **HINT** 1) it's fine to look up the formula online and and translate it to python code. 2) the pythonic solution fits easily onto one line. 3) you can use parenthesis to make sure operations are happening in the correct order.

3. Write a function that will add the euclidean norms of two points from the same pace if either has a norm less than half of the other. Else have the function find the euclidean distance between the two points. **HINT** 1) you should be able to encorporate your previous function to do most almost all the heavy lifting for you. 2) What does `[0]*len([3,2,1])` do? 3) what does `1 < 2 < 3` equal? 4) What does `a, b = (1,2)` do? 5) technically this can be written in one line but it's attrocious, it can be written in two lines quite well, with three lines of code it can be made crystal clear what's happening.